survey_automated_response/make_survey.blueprint.json
{
    "name": "Tally Advanced Feedback - Executive",
    "flow": [
        {
            "id": 1,
            "module": "tally:watchNewResponse",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": "__MAKE_TALLY_WEBHOOK_ID__"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "tally_webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:tally",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "eventId",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "submissionId",
                        "type": "text",
                        "label": "Submission ID"
                    },
                    {
                        "name": "respondentId",
                        "type": "text",
                        "label": "Respondent ID"
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "formName",
                        "type": "text",
                        "label": "Form Name"
                    },
                    {
                        "name": "createdAt",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "Nome dell'impresa",
                                "type": "text"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (velocizzare i processi e migliorare l'efficienza operativa)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (ridurre costi e sprechi)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (migliorare il prodotto)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (aumentare la quota di mercato/aprirsi a nuovi mercati)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (migliorare il rapporto coi clienti)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (affrontare la trasformazione tecnologica)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (acquisire risorse umane e trattenere del talento)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (gestire i rischi)",
                                "type": "boolean"
                            },
                            {
                                "name": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (migliorare decisioni e accesso ad informazioni)",
                                "type": "boolean"
                            },
                            {
                                "name": "Se vuoi aggiungere qualcosa sulle sfide",
                                "type": "text"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (sistemi frammentati, silos, e difficoltà di collaborazione)",
                                "type": "boolean"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (limitatezza delle risorse finanziarie)",
                                "type": "boolean"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (limitatezza delle risorse umane (persone capaci ma non hanno tempo))",
                                "type": "boolean"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (carenza di competenze o persone qualificate)",
                                "type": "boolean"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (mancanza di informazione)",
                                "type": "boolean"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (pressioni esterne (norme, mercati instabili, concorrenza))",
                                "type": "boolean"
                            },
                            {
                                "name": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (resistenza al cambiamento)",
                                "type": "boolean"
                            },
                            {
                                "name": "3. Sfide e ostacoli",
                                "spec": [
                                    {
                                        "name": "1d570aa6-73ad-430b-b47b-e159c29f40ea",
                                        "type": "array",
                                        "label": "aumentare la quota di mercato/aprirsi a nuovi mercati"
                                    },
                                    {
                                        "name": "0a23c67e-22d4-4ad1-a487-7a8136a4bb05",
                                        "type": "array",
                                        "label": "acquisire risorse umane e trattenere del talento"
                                    },
                                    {
                                        "name": "a175a814-d6d0-4a2d-b384-8289d4893165",
                                        "type": "array",
                                        "label": "capacità decisionale e accesso alle informazioni"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "Note",
                                "type": "text"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Produzione / Operations)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Logistica e Supply Chain)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Vendite e sviluppo commerciale)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Marketing e comunicazione)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Customer service / Post-vendita)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Amministrazione e finanza)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Risorse umane / Gestione del personale)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Ricerca e sviluppo / Innovazione prodotto)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (IT e Sistemi informativi)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Pianificazione strategica / Direzione generale)",
                                "type": "boolean"
                            },
                            {
                                "name": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Qualità / Compliance / Controllo interno)",
                                "type": "boolean"
                            },
                            {
                                "name": "Note",
                                "type": "text"
                            },
                            {
                                "name": "area_criticalities",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nProduzione/Operations per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Produzione/Operations che conosce bene le attività e le sfide che la riguardano? ",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area Logistica e Supply Chain per comprendere meglio le sfide che \nstate affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Logistica e Suppy Chain che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area Vendite e sviluppo commerciale per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Vendite e sviluppo commerciale che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area Marketing e comunicazione per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Marketing e comunicazione\nche conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nCustomer service / Post-vendita per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Customer service / Post-vendita che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nAmministrazione e finanza per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Amministrazione e finanza che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nRisorse umane per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Risorse Umane che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nRicerca e sviluppo / Innovazione per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Ricerca e sviluppo / Innovazione che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nIT e sistemi informatici per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area IT e Sistemi informativi che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nQualità/Compliance/Controllo interno per comprendere meglio le sfide che state affrontando?",
                                "type": "text"
                            },
                            {
                                "name": "Chi è la persona di riferimento dell'area Qualità/Compliance/Controllo interno che conosce bene le attività e le sfide che la riguardano?",
                                "type": "text"
                            },
                            {
                                "name": "Email",
                                "type": "text"
                            },
                            {
                                "name": "6. Per prendere decisioni rilevanti nel tuo ruolo, quali sono le domande a cui devi rispondere regolarmente?",
                                "type": "text"
                            },
                            {
                                "name": "7. Hai accesso alle informazioni necessarie per rispondere a queste domande in modo tempestivo e affidabile?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "8. Quando bisogna prendere una decisione, su cosa fate affidamento?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Esperienza passata)",
                                "type": "boolean"
                            },
                            {
                                "name": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Intuizione o giudizio personale)",
                                "type": "boolean"
                            },
                            {
                                "name": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Consigli di soggetti esterni)",
                                "type": "boolean"
                            },
                            {
                                "name": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Report e metriche interni)",
                                "type": "boolean"
                            },
                            {
                                "name": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Indici di riferimento (benchmark) esterni o trend di settore)",
                                "type": "boolean"
                            },
                            {
                                "name": "9. Nell’ambito dei processi decisionali, ci sono figure riconosciute come esperti su specifici temi, il cui sapere non è formalizzato né facilmente accessibile agli altri membri dell’organizzazione?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "10. Quanto considerate parte delle vostre strategie aziendali l’innovazione connessa a soluzioni di business analytics, data science e intelligenza artificiale?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics?",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Costo dell’iniziativa)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Conoscenza delle possibili soluzioni di business e tecniche offerte dal mercato)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Disponibilità di risorse interne)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Scarsa conoscenza delle possibilità di applicazione di incentivi economici)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Rischio di insuccesso dell’iniziativa)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Aspetti legali / proprietà intellettuale)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Sicurezza delle soluzioni tecnologiche (es. protezione del dato))",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Scarsa maturità delle soluzioni tecnologiche offerte dal mercato)",
                                "type": "boolean"
                            },
                            {
                                "name": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Scarsa propensione ad integrarsi in organizzazioni virtuali mediante lo scambio di informazioni lungo la filiera / catena del valore)",
                                "type": "boolean"
                            },
                            {
                                "name": "Sede dell'organizzazione",
                                "type": "text"
                            },
                            {
                                "name": "Numero di dipendenti",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "Fatturato",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "Settore",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "Mercato",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "Strategia di pianificazione della produzione",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array"
                            },
                            {
                                "name": "Strategia di pianificazione della produzione (Engineer to order (Progettazione in base all’ordine))",
                                "type": "boolean"
                            },
                            {
                                "name": "Strategia di pianificazione della produzione (Make to order (Produzione in base all’ordine))",
                                "type": "boolean"
                            },
                            {
                                "name": "Strategia di pianificazione della produzione (Purchase to order (Acquisto in base all’ordine))",
                                "type": "boolean"
                            },
                            {
                                "name": "Strategia di pianificazione della produzione (Assemble to order (Assemblaggio in base all’ordine))",
                                "type": "boolean"
                            },
                            {
                                "name": "Strategia di pianificazione della produzione (Make to stock (Produzione per il magazzino))",
                                "type": "boolean"
                            },
                            {
                                "name": "Strat_objective",
                                "type": "text"
                            },
                            {
                                "name": "Block_severity",
                                "type": "text"
                            },
                            {
                                "name": "Strat_tension",
                                "type": "text"
                            },
                            {
                                "name": "Functional_load",
                                "type": "text"
                            },
                            {
                                "name": "Score_1",
                                "type": "text"
                            },
                            {
                                "name": "Info_access",
                                "type": "text"
                            },
                            {
                                "name": "Decision_make",
                                "type": "text"
                            },
                            {
                                "name": "Know_transfer",
                                "type": "text"
                            },
                            {
                                "name": "Score_2",
                                "type": "text"
                            },
                            {
                                "name": "Feedback_desc",
                                "type": "text"
                            },
                            {
                                "name": "Feedback_title",
                                "type": "text"
                            },
                            {
                                "name": "Se vuoi ricevere un feedback più articolato inserisci la tua email",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "fieldsById",
                        "spec": [
                            {
                                "name": "question_2aQ2xD",
                                "type": "text",
                                "label": "Nome dell'impresa"
                            },
                            {
                                "name": "question_P1VoBe",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ?"
                            },
                            {
                                "name": "question_P1VoBe_27206d1e-8979-4ea8-a0e2-ea0f7777c291",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (velocizzare i processi e migliorare l'efficienza operativa)"
                            },
                            {
                                "name": "question_P1VoBe_a9d30d73-a318-49b6-b2af-2941895fa894",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (ridurre costi e sprechi)"
                            },
                            {
                                "name": "question_P1VoBe_1fe319f8-cf9b-47fe-a5bf-fe2f21fcc821",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (migliorare il prodotto)"
                            },
                            {
                                "name": "question_P1VoBe_39053533-996f-4ffe-b808-bfe885ac532a",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (aumentare la quota di mercato/aprirsi a nuovi mercati)"
                            },
                            {
                                "name": "question_P1VoBe_1639298e-1b00-45f8-bf53-852bbb15db57",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (migliorare il rapporto coi clienti)"
                            },
                            {
                                "name": "question_P1VoBe_c6711e98-58c3-4f72-b996-136b000add86",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (affrontare la trasformazione tecnologica)"
                            },
                            {
                                "name": "question_P1VoBe_48e18b2e-8fec-43d2-b33f-51ab2193f8bc",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (acquisire risorse umane e trattenere del talento)"
                            },
                            {
                                "name": "question_P1VoBe_34e38551-e586-4bef-ad14-3b03c1d0d1d9",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (gestire i rischi)"
                            },
                            {
                                "name": "question_P1VoBe_2906ee23-b0ac-4b6a-af31-8e604a176c5e",
                                "type": "boolean",
                                "label": "1. Quali sono le principali sfide che sta affrontando @Nome dell'impresa ? (migliorare decisioni e accesso ad informazioni)"
                            },
                            {
                                "name": "question_Edypbr",
                                "type": "text",
                                "label": "Se vuoi aggiungere qualcosa sulle sfide"
                            },
                            {
                                "name": "question_razXrR",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ?"
                            },
                            {
                                "name": "question_razXrR_d4c173fe-1d32-441b-9ca6-1f7b57a4fcc9",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (sistemi frammentati, silos, e difficoltà di collaborazione)"
                            },
                            {
                                "name": "question_razXrR_99f27f89-727f-451f-9de9-dadfc20b3283",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (limitatezza delle risorse finanziarie)"
                            },
                            {
                                "name": "question_razXrR_eccca44a-d716-41e5-9653-32c093055278",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (limitatezza delle risorse umane (persone capaci ma non hanno tempo))"
                            },
                            {
                                "name": "question_razXrR_f37dd097-b90d-4773-82e2-8440bafb3a0d",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (carenza di competenze o persone qualificate)"
                            },
                            {
                                "name": "question_razXrR_f5807178-fb98-417c-b1f9-8ea8b57936e3",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (mancanza di informazione)"
                            },
                            {
                                "name": "question_razXrR_ff4b6025-149c-48b8-893f-688b3532a538",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (pressioni esterne (norme, mercati instabili, concorrenza))"
                            },
                            {
                                "name": "question_razXrR_8fbed2e5-f416-4dd0-a32d-a16972507624",
                                "type": "boolean",
                                "label": "2. Quali sono i principali ostacoli che rendono difficile affrontare le sfide strategiche in @Nome dell'impresa ? (resistenza al cambiamento)"
                            },
                            {
                                "name": "question_j61K94",
                                "spec": [
                                    {
                                        "name": "1d570aa6-73ad-430b-b47b-e159c29f40ea",
                                        "type": "array",
                                        "label": "aumentare la quota di mercato/aprirsi a nuovi mercati"
                                    },
                                    {
                                        "name": "0a23c67e-22d4-4ad1-a487-7a8136a4bb05",
                                        "type": "array",
                                        "label": "acquisire risorse umane e trattenere del talento"
                                    },
                                    {
                                        "name": "a175a814-d6d0-4a2d-b384-8289d4893165",
                                        "type": "array",
                                        "label": "capacità decisionale e accesso alle informazioni"
                                    }
                                ],
                                "type": "collection",
                                "label": "3. Sfide e ostacoli"
                            },
                            {
                                "name": "question_ZO8Kvo",
                                "type": "text",
                                "label": "Note"
                            },
                            {
                                "name": "question_2aQ2x9",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato?"
                            },
                            {
                                "name": "question_2aQ2x9_5f66dd88-060e-43d3-a59a-89cacfcd0ebe",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Produzione / Operations)"
                            },
                            {
                                "name": "question_2aQ2x9_e6f91b9f-b311-4525-89fa-6d5f10a4e82f",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Logistica e Supply Chain)"
                            },
                            {
                                "name": "question_2aQ2x9_f70b099b-47f8-4acf-a8ec-9beb082940e6",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Vendite e sviluppo commerciale)"
                            },
                            {
                                "name": "question_2aQ2x9_ee3fda88-d14c-47dc-8ce2-fc3a60193ffb",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Marketing e comunicazione)"
                            },
                            {
                                "name": "question_2aQ2x9_c87dd444-18a6-4878-9aa3-0e2583f88a85",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Customer service / Post-vendita)"
                            },
                            {
                                "name": "question_2aQ2x9_7d59e42a-0837-45dc-b44a-8d8b62269e67",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Amministrazione e finanza)"
                            },
                            {
                                "name": "question_2aQ2x9_ec383336-dc97-47c1-918e-4b8450a3e051",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Risorse umane / Gestione del personale)"
                            },
                            {
                                "name": "question_2aQ2x9_f97a7463-6e1d-4e37-8d03-2449f8f9f565",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Ricerca e sviluppo / Innovazione prodotto)"
                            },
                            {
                                "name": "question_2aQ2x9_81473eaf-4c3d-4fd5-9204-74277f8e23bc",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (IT e Sistemi informativi)"
                            },
                            {
                                "name": "question_2aQ2x9_465dd43d-a6a1-4859-8b18-b340ab3a66f4",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Pianificazione strategica / Direzione generale)"
                            },
                            {
                                "name": "question_2aQ2x9_7ff5c77e-b8a7-4dfc-9c3e-ecf9dd4ec1e9",
                                "type": "boolean",
                                "label": "4. In quali aree dell’organizzazione si concentrano principalmente le sfide strategiche e gli ostacoli che hai indicato? (Qualità / Compliance / Controllo interno)"
                            },
                            {
                                "name": "question_NXrQMl",
                                "type": "text",
                                "label": "Note"
                            },
                            {
                                "name": "question_lO65VW_33e77a04-665c-4a3c-a4e5-b51c43e04e59",
                                "type": "text",
                                "label": "area_criticalities"
                            },
                            {
                                "name": "question_xMOGN5",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nProduzione/Operations per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_qGLMoG",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Produzione/Operations che conosce bene le attività e le sfide che la riguardano? "
                            },
                            {
                                "name": "question_QR1Wv7",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_9ZBypQ",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area Logistica e Supply Chain per comprendere meglio le sfide che \nstate affrontando?"
                            },
                            {
                                "name": "question_erMlKe",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Logistica e Suppy Chain che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_WR2BDN",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_a49gKB",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area Vendite e sviluppo commerciale per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_6KLyAk",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Vendite e sviluppo commerciale che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_7Kqz1Z",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_beqyKL",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area Marketing e comunicazione per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_ApzGAD",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Marketing e comunicazione\nche conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_BpalAQ",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_kGl1KR",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nCustomer service / Post-vendita per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_vDM1E0",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Customer service / Post-vendita che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_KxzZv8",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_LK9Nvv",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nAmministrazione e finanza per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_por1RJ",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Amministrazione e finanza che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_14XyDp",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_MaXqvM",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nRisorse umane per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_JlqxXo",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Risorse Umane che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_gqa1YO",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_y4MRjg",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nRicerca e sviluppo / Innovazione per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_XoLk1g",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Ricerca e sviluppo / Innovazione che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_8LqyA5",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_08dy1y",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nIT e sistemi informatici per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_zMjo2R",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area IT e Sistemi informativi che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_59bD8o",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_d0E1Ko",
                                "type": "text",
                                "label": "Quali sono le principali criticità o dinamiche da approfondire nell'area\nQualità/Compliance/Controllo interno per comprendere meglio le sfide che state affrontando?"
                            },
                            {
                                "name": "question_YGPvpB",
                                "type": "text",
                                "label": "Chi è la persona di riferimento dell'area Qualità/Compliance/Controllo interno che conosce bene le attività e le sfide che la riguardano?"
                            },
                            {
                                "name": "question_DpBPAR",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "question_ZEqxRB",
                                "type": "text",
                                "label": "6. Per prendere decisioni rilevanti nel tuo ruolo, quali sono le domande a cui devi rispondere regolarmente?"
                            },
                            {
                                "name": "question_NlGzBj",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "7. Hai accesso alle informazioni necessarie per rispondere a queste domande in modo tempestivo e affidabile?"
                            },
                            {
                                "name": "question_eQkbxk",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "8. Quando bisogna prendere una decisione, su cosa fate affidamento?"
                            },
                            {
                                "name": "question_eQkbxk_7cdb284a-9708-492b-830d-8fb38c325525",
                                "type": "boolean",
                                "label": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Esperienza passata)"
                            },
                            {
                                "name": "question_eQkbxk_e537bbf3-02aa-4c48-a02f-8cc4ba002bf7",
                                "type": "boolean",
                                "label": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Intuizione o giudizio personale)"
                            },
                            {
                                "name": "question_eQkbxk_d336bf12-ccc8-4df2-9f0d-c030734cd942",
                                "type": "boolean",
                                "label": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Consigli di soggetti esterni)"
                            },
                            {
                                "name": "question_eQkbxk_53d295c2-ceee-4b9a-8be4-685504ba55ec",
                                "type": "boolean",
                                "label": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Report e metriche interni)"
                            },
                            {
                                "name": "question_eQkbxk_4bf1d8af-37b4-4cf5-b526-169ab91ae33f",
                                "type": "boolean",
                                "label": "8. Quando bisogna prendere una decisione, su cosa fate affidamento? (Indici di riferimento (benchmark) esterni o trend di settore)"
                            },
                            {
                                "name": "question_bjba2Z",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "9. Nell’ambito dei processi decisionali, ci sono figure riconosciute come esperti su specifici temi, il cui sapere non è formalizzato né facilmente accessibile agli altri membri dell’organizzazione?"
                            },
                            {
                                "name": "question_qD0yE9",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "10. Quanto considerate parte delle vostre strategie aziendali l’innovazione connessa a soluzioni di business analytics, data science e intelligenza artificiale?"
                            },
                            {
                                "name": "question_QePGBG",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics?"
                            },
                            {
                                "name": "question_QePGBG_eda79893-b45d-48e5-b65a-aff0f65d12cd",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Costo dell’iniziativa)"
                            },
                            {
                                "name": "question_QePGBG_8b7f6aa4-89da-46ab-bd5d-c4d7bff3cbbc",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Conoscenza delle possibili soluzioni di business e tecniche offerte dal mercato)"
                            },
                            {
                                "name": "question_QePGBG_9dfcfbfd-1291-458d-8992-36ec9d50f766",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Disponibilità di risorse interne)"
                            },
                            {
                                "name": "question_QePGBG_ca070f05-3f77-4b54-b018-fe748fa979c2",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Scarsa conoscenza delle possibilità di applicazione di incentivi economici)"
                            },
                            {
                                "name": "question_QePGBG_2a521b6c-d62b-483e-a94d-041d840a8784",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Rischio di insuccesso dell’iniziativa)"
                            },
                            {
                                "name": "question_QePGBG_d560bfd6-7b82-422d-b3e8-f4d4e8bd4e54",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Aspetti legali / proprietà intellettuale)"
                            },
                            {
                                "name": "question_QePGBG_9b4fff36-904d-4a0d-82d8-93cab40e170f",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Sicurezza delle soluzioni tecnologiche (es. protezione del dato))"
                            },
                            {
                                "name": "question_QePGBG_3d4102bd-b947-4f70-a8a5-bab6051a8c45",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Scarsa maturità delle soluzioni tecnologiche offerte dal mercato)"
                            },
                            {
                                "name": "question_QePGBG_383b6b73-d6ca-4b1a-ab3c-fd93e81308cd",
                                "type": "boolean",
                                "label": "11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics? (Scarsa propensione ad integrarsi in organizzazioni virtuali mediante lo scambio di informazioni lungo la filiera / catena del valore)"
                            },
                            {
                                "name": "question_lOB1Kk",
                                "type": "text",
                                "label": "Sede dell'organizzazione"
                            },
                            {
                                "name": "question_Roxav9",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Numero di dipendenti"
                            },
                            {
                                "name": "question_oRE1KP",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Fatturato"
                            },
                            {
                                "name": "question_Gp64XZ",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Settore"
                            },
                            {
                                "name": "question_OXa9dR",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Mercato"
                            },
                            {
                                "name": "question_VPGAvg",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Strategia di pianificazione della produzione"
                            },
                            {
                                "name": "question_VPGAvg_62c9c79b-87fe-4cd4-a5c0-655f86dec2db",
                                "type": "boolean",
                                "label": "Strategia di pianificazione della produzione (Engineer to order (Progettazione in base all’ordine))"
                            },
                            {
                                "name": "question_VPGAvg_44ac136a-58ff-4ae7-88a0-ed6af1164b96",
                                "type": "boolean",
                                "label": "Strategia di pianificazione della produzione (Make to order (Produzione in base all’ordine))"
                            },
                            {
                                "name": "question_VPGAvg_46630aca-8e1e-4d03-a22d-89da1417c81f",
                                "type": "boolean",
                                "label": "Strategia di pianificazione della produzione (Purchase to order (Acquisto in base all’ordine))"
                            },
                            {
                                "name": "question_VPGAvg_c8aab433-f3ab-4156-959f-c9a4886c9d09",
                                "type": "boolean",
                                "label": "Strategia di pianificazione della produzione (Assemble to order (Assemblaggio in base all’ordine))"
                            },
                            {
                                "name": "question_VPGAvg_ddebcbf3-fa5a-4403-a880-a8a6d072150d",
                                "type": "boolean",
                                "label": "Strategia di pianificazione della produzione (Make to stock (Produzione per il magazzino))"
                            },
                            {
                                "name": "question_087Jyj_c83ba894-94c9-459c-9140-7ae2e3d7b473",
                                "type": "text",
                                "label": "Strat_objective"
                            },
                            {
                                "name": "question_087Jyj_6d5209e1-b20e-480e-8643-bb1fca71cc7f",
                                "type": "text",
                                "label": "Block_severity"
                            },
                            {
                                "name": "question_087Jyj_cc9d9929-5692-4be5-a649-d965775f5e0e",
                                "type": "text",
                                "label": "Strat_tension"
                            },
                            {
                                "name": "question_087Jyj_42effdf1-109a-4986-ba68-bf5589496b63",
                                "type": "text",
                                "label": "Functional_load"
                            },
                            {
                                "name": "question_087Jyj_7cc78b62-a7f2-4543-b868-d86c95b58ac3",
                                "type": "text",
                                "label": "Score_1"
                            },
                            {
                                "name": "question_zMNro0_7079c915-07fd-4661-b33f-65fb8ae518fb",
                                "type": "text",
                                "label": "Info_access"
                            },
                            {
                                "name": "question_594GDE_31aebb5b-4ef5-4e6b-a02b-225c9ac55092",
                                "type": "text",
                                "label": "Decision_make"
                            },
                            {
                                "name": "question_d0ND1K_24768769-64b4-4c28-b306-4694348326c1",
                                "type": "text",
                                "label": "Know_transfer"
                            },
                            {
                                "name": "question_YGRMvJ_f5464159-3d94-4466-a1a3-d7ffe7c0e179",
                                "type": "text",
                                "label": "Score_2"
                            },
                            {
                                "name": "question_xDJop5_8f25dc66-09f4-4c98-aaf2-a3d7803288bb",
                                "type": "text",
                                "label": "Feedback_desc"
                            },
                            {
                                "name": "question_ZO2gNB_09a6b7d7-6139-4547-b609-b4c722c2aff8",
                                "type": "text",
                                "label": "Feedback_title"
                            },
                            {
                                "name": "question_VPzl5l",
                                "type": "text",
                                "label": "Se vuoi ricevere un feedback più articolato inserisci la tua email"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields by ID"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": "__MAKE_OPENAI_CONNECTION_ID__"
            },
            "mapper": {
                "model": "o3-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a business strategy and data science expert tasked with analyzing the response of a survey, write the body of an email with an extended feedback to be sent to the survey respondent. Analyze survey responses to extract key issues and hidden tensions. Keep the tone professional but accessible. Use {{1.fields.`Nome dell'impresa`}} to clearly identify the company. Ultimately this assessment is going to be used to create a roadmap of interventions/projects to be developed to foster AI adoption, innovation and data analytics maturity. "
                    },
                    {
                        "role": "user",
                        "content": "You have received the responses to a survey completed by a business owner. Based on these responses, we are preparing an extended feedback message that will follow the core results already shared via email.\nThe feedback focuses on two key dimensions:\n\t•\tStrategic tension: the degree of internal complexity and friction between ambitious objectives and organizational or technical blockers.\n\t•\tEpistemic maturity: the company’s ability to produce, share, and use reliable knowledge to make decisions. Here is the core feedback:{{1.fieldsById.`question_ZO2gNB_09a6b7d7-6139-4547-b609-b4c722c2aff8`}},{{1.fieldsById.`question_xDJop5_8f25dc66-09f4-4c98-aaf2-a3d7803288bb`}}. Based on these, write two to three paragraphs that expand the feedback, also considering the following contextual elements: additional notes from the owner regarding strategic challenges ({{1.fields.`Se vuoi aggiungere qualcosa sulle sfide`}}), extra notes about blockers ({{1.fields.Note}}), the area-specific criticalities as explained by the owner ({{1.fields.area_criticalities}}), the questions the owner has to answer on a regular basis to perform his or her tasks ({{1.fields.`6. Per prendere decisioni rilevanti nel tuo ruolo, quali sono le domande a cui devi rispondere regolarmente?`}}), current strategies about business analytics, data science and artificial intelligence ({{1.fields.`10. Quanto considerate parte delle vostre strategie aziendali l’innovazione connessa a soluzioni di business analytics, data science e intelligenza artificiale?`}}) and the perceived risks or perplexities around such initiatives (){{1.fields.`11. Quali sono i principali vincoli/rischi che potrebbero frenare l’attivazione di iniziative in ambito analytics?`}}). To better tailor your analysis, also consider the structured company profile data: {{1.fieldsById.question_Roxav9}}{{1.fieldsById.question_oRE1KP}}{{1.fieldsById.question_Gp64XZ}}{{1.fieldsById.question_OXa9dR}}{{1.fieldsById.question_VPGAvg}}.\nWrite in Italian using a professional tone. Do not repeat the original answers or the main feedback: instead, infer implications, highlight tensions, suggest unexpected links, and identify weak signals that might be worth exploring. The goal is to offer a thoughtful, stimulating reflection that could spark action and keep the owner engaged in the next steps (another interview with the area leaders). Keep the feedback abstract.\nDo not include introductions or closing statements, as these will be added separately in the email body.\nThink before you start writing your answer."
                    }
                ],
                "temperature": "0.7",
                "n_completions": "1",
                "response_format": "text",
                "reasoning_effort": "medium"
            },
            "metadata": {
                "designer": {
                    "x": -241,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o3-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "max_tokens": {
                            "empty": true
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Medium"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "OpenAI_connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": "__MAKE_GMAIL_CONNECTION_ID__"
            },
            "mapper": {
                "to": [
                    "{{1.fieldsById.question_VPzl5l}}"
                ],
                "bcc": [
                    "control_email_account"
                ],
                "subject": "Derver Data Maturity Assessment - {{1.fields.`Nome dell'impresa`}}",
                "bodyType": "collection",
                "contents": [
                    {
                        "text": "<p>Grazie per aver completato la parte Executive del Data Maturity Assessment di Derver. Questa indagine iniziale permette di delineare un primo quadro delle principali sfide strategiche percepite e delle modalità con cui oggi si prendono decisioni all’interno di {{1.fields.`Nome dell'impresa`}}.\n</p>\n\n<p>Questo feedback si basa su due dimensioni chiave:</p>\n\t•\tTensione strategica: rappresenta l’intensità degli obiettivi che l’azienda si pone e la difficoltà di raggiungerli, a causa di ostacoli operativi, limiti organizzativi o contingenze esterne.<br>\n\t•\tMaturità epistemica: riflette la capacità dell’organizzazione di accedere e utilizzare conoscenze affidabili, condivise e aggiornate per prendere decisioni efficaci. <br>\n<p>Abbiamo assegnato un valore di {{1.fields.Score_1}} su una scala da 0 a 60 per la dimensione \"Tensione Strategica\" e un valore di {{1.fields.Score_2}} per \"Maturità Epistemica\" su una scala da 0 a 12. </p>\n\n<p>Il riscontro che segue non è conclusivo né prescrittivo: vuole offrire uno spunto iniziale per riflettere sul modo in cui l’organizzazione affronta le proprie priorità, individua le difficoltà e valorizza le risorse e le competenze interne. Il vero valore emergerà nei prossimi passi, quando i temi evidenziati verranno approfonditi direttamente con i responsabili delle aree coinvolte.</p>\n\n\n<strong>{{1.fields.Feedback_title}}</strong><br>\n<p>{{1.fields.Feedback_desc}}</p>\n\n<p>{{2.choices[].message.content}}</p>\n\n<p>\nQuesta indagine consente a Derver di allineare con maggiore precisione le proprie proposte progettuali alla realtà specifica dell’organizzazione, integrandole nel suo attuale paesaggio strategico e contribuendo, dove possibile, a iniziative di semplificazione, innovazione e rafforzamento dei processi decisionali.\nCi auguriamo che questo confronto rappresenti il primo passo verso una collaborazione proficua e orientata a risultati tangibili che possano generare valore concreto, sostenendo un’evoluzione coerente e condivisa, capace di valorizzare ciò che già funziona e di intervenire in modo mirato con progetti che possono ottenere miglioramenti significativi. .</p>\n\n<p>Grazie,<br>\nFederico Maria Brignoli</p>\n<br>\n<em>Nota:</em> questo feedback è stato prodotto grazie a una combinazione di criteri di valutazione predefiniti e strumenti di intelligenza artificiale.<br>\n",
                        "image": {}
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 137,
                    "y": -1
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Collection of contents (text, images, etc.)"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "signature": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (federicomariabrignoli@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": false
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "contents",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content"
                        },
                        "type": "array",
                        "label": "Body contents"
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}
